

.cesium-viewer-bottom{
  display: inline-block;
  right: unset ;
}

.sm-box {
  display: flex;
  justify-content: space-between;
  .n-ellipsis {
    width: 40%;
    // line-height: 28px;
    margin-right: 0.5rem;
  }
}

.drawCur{
  cursor: url(packages/assets/imgs/cur/draw.cur), auto;
  }
   
.measureCur{
  cursor: url(packages/assets/imgs/cur/measure.cur), auto;
}
